<!DOCTYPE html>
<html>
	<head>
		<title>weatherstalker</title>
		<link rel="stylesheet" type="text/css" href="./styles/main.css">
		<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
		<script src="./scripts/main.js"></script>
	</head>
	<body>
		loading...
	</body>
</html>