<!DOCTYPE html>
<html>
	<head>
		<title>weatherstalker</title>
		<link rel="stylesheet" type="text/css" href="./styles/index.css">
		<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
		<script src="./scripts/weather.js"></script>
	</head>
	<body>
		<h1><span class="temperature">{{temperature}}</span>°<span class="unit">{{unit}}</span></h1>
		<h2>{{description}}</h2>
		<ul>
			<li>{{humidity}}% humidity</li>
			<li>Wind speed {{wind.speed}}km/h</li>
			<li>Wind direction: {{wind.direction}} degrees</li>
		</ul>
		<form action="/" method="POST">
			<input type="text" name="location">
			<input type="submit" value="Get Weather">
		</form>
	</body>
</html>
