<!DOCTYPE html>
<html>
	<head>
		<title>weatherstalker</title>
		<link rel="stylesheet" type="text/css" href="./styles/index.css">
		<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
		<script src="./scripts/weather.js"></script>
	</head>
	<body>
		<h1>{{name}}</h1>
		<h2>{{description}}</h2>
		<ul>
			<li>
				Temperature
				<ul>
					<li>Current: {{temperature.current}}</li>
					<li>Minimum: {{temperature.minimum}}</li>
					<li>Maximum: {{temperature.maximum}}</li>
				</ul>
			</li>
			<li>Humidity: {{humidity}}%</li>
			<li>Wind speed: {{wind.speed}}km/h</li>
			<li>Wind direction: {{wind.direction}} degrees</li>
		</ul>
		<form action="/" method="POST">
			<input type="text" name="location">
			<input type="submit" value="Get Weather">
		</form>
	</body>
</html>
